%svg-common {
	background: url("../img/sprite.svg") no-repeat;
}

.angry_rubin {
	@extend %svg-common;
	background-position: 0 0;
	width: 160px;
	height: 160px;
}

.angry_spaceship {
	@extend %svg-common;
	background-position: 0 5.443195155556312%;
	width: 190.81px;
	height: 116.55px;
}

.arrow-next {
	@extend %svg-common;
	background-position: 0 9.354947652819993%;
	width: 44.12px;
	height: 95px;
}

.arrow-prev {
	@extend %svg-common;
	background-position: 0 12.563323201621074%;
	width: 44.13px;
	height: 95px;
}

.arrow_down {
	@extend %svg-common;
	background-position: 0 15.432914738929279%;
	width: 28.03px;
	height: 30px;
}

.bad_icon {
	@extend %svg-common;
	background-position: 0 16.574622485459688%;
	width: 57.63px;
	height: 57.44px;
}

.bot_icon {
	@extend %svg-common;
	background-position: 0 18.508884264446934%;
	width: 56.72px;
	height: 57.44px;
}

.circle-01 {
	@extend %svg-common;
	background-position: 0 21.614950634696758%;
	width: 220px;
	height: 220px;
}

.circle-02 {
	@extend %svg-common;
	background-position: 0 29.372355430183358%;
	width: 220px;
	height: 220px;
}

.circle-03 {
	@extend %svg-common;
	background-position: 0 37.129760225669955%;
	width: 220px;
	height: 220px;
}

.copyright {
	@extend %svg-common;
	background-position: 0 42.29235880398671%;
	width: 47px;
	height: 46px;
}

.favourite_icon {
	@extend %svg-common;
	background-position: 0 43.987780801451365%;
	width: 57.63px;
	height: 57.44px;
}

.fb--gray {
	@extend %svg-common;
	background-position: 0 46.11520428667113%;
	width: 70px;
	height: 70px;
}

.fb--white {
	@extend %svg-common;
	background-position: 0 48.13705921490352%;
	width: 51px;
	height: 50px;
}

.foursquare--gray {
	@extend %svg-common;
	background-position: 0 50.15075376884422%;
	width: 56px;
	height: 71px;
}

.foursquare--white {
	@extend %svg-common;
	background-position: 0 52.17970049916806%;
	width: 43px;
	height: 51px;
}

.good_icon {
	@extend %svg-common;
	background-position: 0 53.99258310655782%;
	width: 57.66px;
	height: 57.44px;
}

.google--gray {
	@extend %svg-common;
	background-position: 0 56.18090452261306%;
	width: 70px;
	height: 71px;
}

.google--white {
	@extend %svg-common;
	background-position: 0 58.16971713810316%;
	width: 52px;
	height: 51px;
}

.icon_copyright {
	@extend %svg-common;
	background-position: 0 59.76744186046512%;
	width: 46px;
	height: 46px;
}

.instagram--gray {
	@extend %svg-common;
	background-position: 0 61.78834561286001%;
	width: 70px;
	height: 70px;
}

.instagram--white {
	@extend %svg-common;
	background-position: 0 63.70592149035263%;
	width: 51px;
	height: 50px;
}

.instagram_icon {
	@extend %svg-common;
	background-position: 0 65.2390438247012%;
	width: 44px;
	height: 44px;
}

.magnifer {
	@extend %svg-common;
	background-position: 0 67.84869976359339%;
	width: 110px;
	height: 95px;
}

.normal_icon {
	@extend %svg-common;
	background-position: 0 70.16701349981325%;
	width: 57.63px;
	height: 57.44px;
}

.paper {
	@extend %svg-common;
	background-position: 0 73.19236524412125%;
	width: 113.11px;
	height: 102.14px;
}

.post_icon {
	@extend %svg-common;
	background-position: 0 75.29845114576649%;
	width: 57.63px;
	height: 47.97px;
}

.posts {
	@extend %svg-common;
	background-position: 0 76.94610778443113%;
	width: 60px;
	height: 50px;
}

.robot {
	@extend %svg-common;
	background-position: 0 78.87182910547396%;
	width: 60px;
	height: 60px;
}

.smile {
	@extend %svg-common;
	background-position: 0 80.87449933244326%;
	width: 60px;
	height: 60px;
}

.smile-2 {
	@extend %svg-common;
	background-position: 0 82.87716955941255%;
	width: 60px;
	height: 60px;
}

.smile-3 {
	@extend %svg-common;
	background-position: 0 84.87983978638184%;
	width: 60px;
	height: 60px;
}

.star {
	@extend %svg-common;
	background-position: 0 86.88251001335114%;
	width: 60px;
	height: 60px;
}

.statistics {
	@extend %svg-common;
	background-position: 0 88.97427330437688%;
	width: 63px;
	height: 63px;
}

.stats_icon {
	@extend %svg-common;
	background-position: 0 90.98616182586464%;
	width: 60.16px;
	height: 59.94px;
}

.studio {
	@extend %svg-common;
	background-position: 0 92.55813953488372%;
	width: 67px;
	height: 46px;
}

.twitter--gray {
	@extend %svg-common;
	background-position: 0 94.5260347129506%;
	width: 70px;
	height: 60px;
}

.twitter--white {
	@extend %svg-common;
	background-position: 0 96.01593625498008%;
	width: 51px;
	height: 44px;
}

.vk--gray {
	@extend %svg-common;
	background-position: 0 98.32551908908239%;
	width: 70px;
	height: 70px;
}

.vk--white {
	@extend %svg-common;
	background-position: 0 100%;
	width: 51px;
	height: 50px;
}

